<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>GuestBook2</servlet-name>
		<servlet-class>com.rushuang.GuestBook2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GuestBook2</servlet-name>
		<url-pattern>/guestbook2</url-pattern>
	</servlet-mapping>
	
	 <servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>guestbook.SignGuestbookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>insertBook</servlet-name>
        <servlet-class>com.books.BookshelfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertBook</servlet-name>
        <url-pattern>/insertBook</url-pattern>
    </servlet-mapping>
	
	<!--Del Book-->
	<servlet>
        <servlet-name>delBook</servlet-name>
        <servlet-class>com.books.DelBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delBook</servlet-name>
        <url-pattern>/delBook</url-pattern>
    </servlet-mapping>
	
	
	<!--Update Book-->
	<servlet>
        <servlet-name>updBook</servlet-name>
        <servlet-class>com.books.UpdBook</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updBook</servlet-name>
        <url-pattern>/updBook</url-pattern>
    </servlet-mapping>
    
    <!-- Todo -->
	<servlet>
		<servlet-name>CreateNewTodo</servlet-name>
		<servlet-class>com.gae.todo.ServletCreateTodo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveTodo</servlet-name>
		<servlet-class>com.gae.todo.ServletRemoveTodo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveTodo</servlet-name>
		<url-pattern>/done</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateNewTodo</servlet-name>
		<url-pattern>/new</url-pattern>
	</servlet-mapping>
	<!-- Email -->
	<servlet>
		<servlet-name>Email</servlet-name>
		<servlet-class>com.gae.todo.EmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Email</servlet-name>
		<url-pattern>/_ah/mail/*</url-pattern>
	</servlet-mapping>
		
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		
	</welcome-file-list>
</web-app>
